* {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
}

/*----------------- ABOUT US TOP SECTION -----------------*/

.about-section {
	width: 100%;
	height:90vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(office.jpg);
	background-size: cover;
	background-position: center;
	
}

nav {
	width: 75%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 120px;
	cursor: pointer;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'DM Sans', sans-serif;
}

.nav-links ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'DM Sans', sans-serif;
}

.nav-links ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #4F9BE2;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.close {
	display: none;
}

.bar {
	color: #fff;
	cursor: pointer;
	display: none;
}

.about-section-content {
	width: 100%;
	position: relative;
	top: 0px;
	text-align: center;
	color: #fff;
	}

.about-section-content h1 {
	font-size: 60px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 60px;
}

.about-section-content p {
	margin: 30px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 28px;
	line-height: 50px;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
}

.about-section button {
	background: #4F9BE2;
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'DM Sans', sans-serif;
	
}

.about-section button:hover {
	box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.5);
}


@media(max-width: 700px) {
	.logo {
		position: relative;
		right: 30px;
	}
	.content h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #61BBA4;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	
	.nav-links ul li {
		margin-bottom: 1.5em;
	}
	.close {
		font-size: 22px;
		margin: 20px;
		color: #fff;
		display: block;
		cursor: pointer;
		}
	.bar {
		display: block;
	}
	.nav-links ul {
		padding: 30px;
		margin-top: 4em;
	}
.about-section-content {
	width: 70%;
	position: relative;
	text-align: center;
	color: #fff;
	padding: 20px 80px 0px 70px;
	}

.about-section-content h1 {
	font-size: 40px;
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}

.about-section-content p {
	margin: auto;
	font-weight: 500;
	line-height: 35px;
	font-size: 16px;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
}

.about-section button {
	background: #4F9BE2;
	width: 300px;
	text-align: center;
	border-radius: 25px;
	font-weight: bold;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 20px 0px;
	padding: 15px 20px;
	font-family: 'DM Sans', sans-serif;
}

.about-section button:hover {
	box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.5);
}
	
}


/* ---------------------------------TEAM MEMBERS --------------------*/


.team-members {
	text-align: center;
	margin: auto;
	width: 60%;
	margin-bottom: 70px;
	font-family: 'DM Sans', sans-serif;
	
}

.team-members-header {
	padding: 20px;
	font-family: 'DM Sans', sans-serif;
}


.team-members-header p {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
	font-family: 'DM Sans', sans-serif;
	font-size: 36px;
}

.row {
	display: flex;
}

.column {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 8px 10px;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.team-members-container {
  padding: 5px 16px 8px;
}

.team-members-container h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'DM Sans', sans-serif;
}

.team-members-container h4{
	margin-bottom: 20px;
	color: #8E8E8E;
	font-family: 'DM Sans', sans-serif;
}

.team-members-container p {
	margin-bottom: 20px;
	text-align: left;
	font-family: 'DM Sans', sans-serif;
}

.team-members-container button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 30px;
	background: #192F7A;
	cursor: pointer;
	align-items: center;
	font-family: 'DM Sans', sans-serif;
	margin: auto;
	border: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	width: 100%;
}

.team-members-container button:hover {
	box-shadow: 0 0 4px 0px rgb(0, 0, 0, 0.2);
}


@media(max-width: 700px) {
.row {
	flex-direction: column;
}

.column {
	flex-basis: 300px;
	margin-bottom: 16px;
  	padding: 0 8px 10px;
}

}


/* ----------------- STATISTICS SECTION ---------------- */

.stats-rect {
	padding: 20px;
	text-align: center;
	background-color: #D5F3FE;
	color: white;
	margin: auto;
	height: 240px;
}

.stats-rect h1 {
	display: inline-block;
	margin: 130px;
	font-size: 46px;
	margin-top: 55px;
	font-family: 'DM Sans', sans-serif;
	color: #192F7A;
	text-shadow: 1px 1px #80869A;
}

@media(max-width: 700px) {

.stats-rect {
	padding: 20px;
	text-align: center;
	background-color: #D5F3FE;
	color: white;
	margin: auto;
	height: 700px;
}

.stats-rect h1 {
	display: block;
	margin: auto;
	font-size: 40px;
	margin-top: 100px;
	font-family: 'DM Sans', sans-serif;
	color: #192F7A;
	text-shadow: 1px 1px #80869A;
}

}

/* ----------------- WHAT IS SPECIAL ABOUT MUE ---------------- */



.special-mue {
	text-align: center;
	margin: auto;
	width: 60%;
	margin-bottom: 6px;
	margin-top: 80px;
}

.special-mue-header {
	padding: 20px;
}

.special-mue-header p {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: 'DM Sans', sans-serif;
	font-size: 36px;
	font-weight: 500;
}

.special-mue-icon {
	text-shadow: 1px 1px #80869A;
	padding: 80px 0px 0px;
	height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #192F7A;
	font-family: 'Lato', sans-serif;
}

.special-mue-column {
	width: 100%;
}

.special-mue-container2 {
	height: 170px;
	font-family: 'DM Sans', sans-serif;
}


.special-mue-container2 p {
	margin-top: 60px;
	padding: 100px 40px 0px;
	font-family: 'DM Sans', sans-serif;
}

.special-mue-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 16px;
	height: 400px;
	
}


@media(max-width: 700px) {
	.special-mue-container2 p {
	margin-top: 60px;
	padding: 60px 40px 0px;
	font-family: 'DM Sans', sans-serif;
}

}



/* ------------------------------ CEO BIO ----------------------------- */


.ceo-bio {
	margin-top: 100px;
	background: #D5F3FE;
	height: 300px;
}

.ceo-bio-othman img {
	height: 200px;
	width: 200px;
	margin-left: 530px;
	margin-right: 30px;
	border-radius: 75%;
	position: relative;
	float: left;
}


.ceo-bio-othman {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	padding: 50px 0px 20px;
}

.othmane-say {
	text-align: left;
	margin-left: 780px;
	margin-top: 15px;
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	padding: 0px 560px 0px 0px;
	justify-content: center;
}

.othmane-say h4{
	margin-top: 20px;
	color: #192F7A;
	font-size: 24px;
	font-family: 'DM Sans', sans-serif;
}

@media(max-width: 700px) {
.ceo-bio {
	margin-top: 80px;
	background: #D5F3FE;
	height: 600px;
	padding: 50px 0px;
}
.ceo-bio-othman img {
	height: 200px;
	width: 200px;
	margin: auto;
	border-radius: 75%;
	position: relative;
	float: none;
}

.ceo-bio-othman {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	padding: 50px 0px 20px;
}

.othmane-say {
	text-align: center;
	margin: auto;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	padding: 30px 110px 500px 120px;
	justify-content: center;
}

.othmane-say h4{
	margin-top: 20px;
	color: #192F7A;
	font-size: 24px;
	font-family: 'DM Sans', sans-serif;
}



}



/* ------------------------- CONTACT US ------------------------------- */

.contact-us {
	width: 100%;
	padding: 30px 0px 0px;
}



.contact-us p {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: 'DM Sans', sans-serif;
	font-size: 36px;
}


form {
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
	margin-bottom: 55px;
}

form h3 {
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
	font-family: 'DM Sans', sans-serif;
}

form input {
	border: 0px;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;	
	font-size: 16px;
	font-family: 'DM Sans', sans-serif;	
}

form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;	
	font-size: 16px;
	min-height: 8em;
	max-height: 8em;
	min-width: 560px;
	max-width: 560px;
	}




form button {
	padding: 15px;
	background: #192F7A;
	color: #fff;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin: auto;
	margin-top: 40px;
	width: 60%;
	font-family: 'DM Sans', sans-serif;
}

form button:hover {
	border: 0;
	box-shadow: 0 0 4px 0px rgb(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
	form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;	
	font-size: 16px;
	min-height: 8em;
	max-height: 8em;
	min-width: 375px;
	max-width: 375px;
	}

}


/* ----------------------------- Footer ------------------------------ */

.footer {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #D5F3FE;
}

.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 30px;
}

.footer ul li a {
	text-decoration: none;
	color: #444444;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'DM Sans', sans-serif;
}

.footer ul li a::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #f44336;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.footer ul li:hover::after {
	width: 100%;
}

.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in, .fa-youtube {
	color: #192F7A;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}

.fa-heart {
	color: #192F7A;
}


@media(max-width: 700px) {
	.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 30px;
}




}
