* {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
}

/*------------------------------------------ BLOG TOP SECTION ------------------------------------------*/

.blog-top {
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(office.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	width: 75%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	cursor: pointer;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'DM Sans', sans-serif;
}

.nav-links ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'DM Sans', sans-serif;
}

.nav-links ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #4F9BE2;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.close {
	display: none;
}

.bar {
	color: #fff;
	cursor: pointer;
	display: none;
}

.blog-top-content {
	width: 100%;
	position: relative;
	top: 0px;
	text-align: center;
	color: #fff;
}

.blog-top-content h1 {
	font-size: 70px;
	margin-top: 100px;
	font-family: 'Noe Display', sans-serif;
	font-weight: 900;
}

.blog-top-content p {
	margin: 20px auto;
	margin-top: 30px;
	font-weight: 100;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
}

.blog-top-content button {
	background: #4F9BE2;
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 25px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'DM Sans', sans-serif;
	
}

@media(max-width: 700px) {
	.blog-top {
	height: 90vh;
	}
	.logo {
		position: relative;
		right: 30px;
	}
	.content h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #61BBA4;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	
	.nav-links ul li {
		margin-bottom: 1.5em;
	}
	.close {
		font-size: 22px;
		margin: 20px;
		color: #fff;
		display: block;
		cursor: pointer;
		}
	.bar {
		display: block;
	}
	.nav-links ul {
		padding: 20px;
		margin-top: 4em;
	}

	.blog-top-content {
		width: 80%;
		position: relative;
		top: 0px;
		text-align: center;
		color: #fff;
		margin: auto;
	}

	.blog-top-content h1 {
		font-size: 50px;
		margin-top: 0px;
		font-family: 'Noe Display', sans-serif;
		font-weight: 900;
}
	

	
}

/* ------------------------------------ ARTICLE TEXT --------------------------------------------- */

.article {
	margin-top: 60px;
	width: 100%;
	position: relative;
	text-align: center;
}

.article h1 {
	margin-bottom: 40px;
	font-size: 60px;
	font-family: 'Noe Display', sans-serif;
}

.article h2 {
	text-align: left; 
	margin-left: 450px; 
	font-size: 30px;
}

.article p {
	padding: 30px 450px;
	font-size: 22px;
	text-align: justify;
	line-height: 35px;
	color: #595D66;
}

.article img {
	width: 1000px;
}

.article h2 {
	text-align: left:
}

.icons {
	display: inline-block;
}

@media(max-width: 700px) {
	.article {
	margin-top: 60px;
	width: 90%;
	text-align: center;
	margin: auto;
	padding: 30px 0;
	}

	.article h1 {
	margin-bottom: 40px;
	font-size: 35px;
	font-family: 'Noe Display', sans-serif;
	}
	
	.article h2 {
	text-align: left;  
	font-size: 25px;
	margin: 30px 10px;
	}
	
	.article img {
		width: 95%;
		margin: auto;
	}
	
	.article p {
	width: 95%;
	padding: 0;
	font-size: 22px;
	text-align: justify;
	line-height: 35px;
	color: #595D66;
	margin: auto;
	margin-top: 20px;
	}
	
	.article p:nth-of-type(4) {
		margin-bottom: 40px;
	}
	
	.article p:nth-of-type(5) {
		margin: 40px 50px;
	}
	
}

/*------------------------ CALL TO CONSULTATION ----------------------*/

.consultation {
	display: flex;
	margin: auto;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 0px 20px 15px;
	border-radius: 10px;
	margin-bottom: 100px;
	margin-top: 100px;
}

.consultation-card:first-of-type {
	margin: auto;
	padding: 0 15px 0 20px;
	min-width: 300px;
	margin-left: 10px;
}

.consultation-card {
	padding: 0 15px 0 20px;
	margin-right: 40px;
}


.consultation-card p {
	font-size: 28px;
	font-weight: 500;
}

.consultation img {
	width: 80px;
	border-radius: 75%;
	height: 80px;
	margin: auto;
	margin-left: 30px;
}

.consultation button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 30px;
	background: #192F7A;
	cursor: pointer;
	align-items: center;
	font-family: 'DM Sans', sans-serif;
	margin: auto;
	border: #fff;
	font-size: 16px;
	width: 30%;
	margin-right: 40px;
	margin-left: 40px;
}

.consultation button:hover {
	box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.4);
}

@media(max-width: 700px) {
	.consultation {
	display: block;
	height: 460px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px 30px;
	border-radius: 10px;

	}

	.consultation img {
	width: 100px;
	border-radius: 75%;
	height: 100px;
	padding: 0 90px;
	margin: auto;
	}

	.consultation-card:first-of-type {
	margin: auto;
	padding: 20px 0px;
	min-width: 300px;
	}

	.consultation-card {
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	padding: 0px;
	justify-content: center;
	display: block;
	margin-top: 20px;
	margin: auto;
	}

	.consultation-card p {
	margin: auto;
	}

	.consultation-card h1 {
	margin: auto;
	}

	.consultation-card h3 {
	margin: auto;
	}
	
	.consultation button {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 12px 30px;
	background: #192F7A;
	cursor: pointer;
	align-items: center;
	font-family: 'DM Sans', sans-serif;
	margin: auto;
	border: #fff;
	font-size: 16px;
	width: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	}

	

}

/* ------------------------------------------------- FOOTER ---------------------------------------------- */
.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background: #D5F3FE;
}

.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 30px;
}

.footer ul li a {
	text-decoration: none;
	color: #444444;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.footer ul li a::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #f44336;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.footer ul li:hover::after {
	width: 100%;
}

.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.fa-heart {
	color: #f44336;
}

@media(max-width: 700px) {
	.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 30px;
}
}
