* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;

}



.banner {
	width: 100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(backgroundpic.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	width: 75%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 120px;
	cursor: pointer;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	
}

.nav-links ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.nav-links ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #4F9BE2;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1 {
	font-size: 70px;
	margin-top: 80px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	
}

.content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 20px;
	color: #fff;
}

button {
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #4F9BE2;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}	

span {
	background: #4F9BE2;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
	
button:hover span {
	width: 100%;
}

button:hover {
	border: none;
}

.close {
	display: none;
}

.bar {
	color: #fff;
	cursor: pointer;
	display: none;
}

@media(max-width: 700px) {
	.logo {
		position: relative;
		right: 30px;
	}
	.content h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #61BBA4;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	
	.nav-links ul li {
		margin-bottom: 1.5em;
	}
	.close {
		font-size: 22px;
		margin: 20px;
		color: #fff;
		display: block;
		cursor: pointer;
		}
	.bar {
		display: block;
	}
	.nav-links ul {
		padding: 30px;
		margin-top: 4em;
	}
	
}

/* Services */


.blob {
	position: absolute;
	z-index: -1;
	left: 2px;
	margin-right: 280px;
}


.services {
	width: 70%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	
	
}

.services p {
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-size: 43px;
	color: #1B1822;
	line-height: 64px;
	font-weight: 400;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}

.aboutus {
	margin-top: 80px;
	margin-bottom: 40px;
	}




.aboutus p {
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 32px;
	color: #333232;
	margin: auto;
	margin-top: 30px;
	width: 70%;
	
}

h1 {
	font-size: 36px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}


.service-col p {
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 20px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

p {
	color: #777;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.row {
	margin-top: 3%;
	display: flex;
	grid-column-gap: 24px;
	
}	

.service-col {
	flex-basis: 300px;
	background: #FFBF00;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 30px;
	padding: 25px;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	margin-left: 20px;
}

.service-col:nth-of-type(2) {
	flex-basis: 300px;
	background: #56CB85;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 30px;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.service-col:nth-of-type(3) {
	flex-basis: 300px;
	background: #855DFF;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 30px;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.service-col:nth-of-type(4) {
	flex-basis: 300px;
	background: #FF4646;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 30px;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}




.service-col h3 {
	text-align: center;
	margin: auto;
	margin-top: 25px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.service-col:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}

.btnabout {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: #f44336;
	position: relative;
	cursor: pointer;
	align-items: center;
	margin-top: 40px;
	margin-left: 865px;
	}

.btnabout:hover {
	box-shadow: 0 0 20px 0px rgb(255, 73, 71, 0.5);
	}






@media(max-width: 700px) {
.row {
	flex-direction: column;
}
.service-col {
	flex-basis: 300px;
	background: #FFBF00;
	border-radius: 10px;
	margin-bottom: 20px;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	margin-left: 20px;
}

.service-col:nth-of-type(2) {
	flex-basis: 300px;
	background: #56CB85;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 100%;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.service-col:nth-of-type(3) {
	flex-basis: 300px;
	background: #855DFF;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 100%;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.service-col:nth-of-type(4) {
	flex-basis: 300px;
	background: #FF4646;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 25px;
	width: 100%;
	box-sizing: border-box;
	transition: 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
}







/*------------- Destinations ----------*/

.campus {
	width:80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 40px;
}

.campus-col {
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.campus-col img {
	width: 100%;
	display: block;

}

.campus p {
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	color: #1B1822;
	line-height: 64px;
	font-weight: 400;
	text-align: center;
	margin-top: 20px;
}



.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	transition: 0.5s;
	
}

.layer:hover {
	background : rgba(226,0,0,0.7);
}

.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3 {
	bottom: 49%;
	opacity: 1;
}


.btndestination {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 12px 40px;
	background: #f44336;
	position: relative;
	cursor: pointer;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin: auto;
	margin-top: 20px;
	
}

.btndestination:hover {
	box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.3);
	}






/* -------------- Facilities ------------ */

.facilities {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 60px;
}

.facilities-col {
	flex-basis: 40%;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.facilities-col img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.facilities-col p {
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.facilities-col h3 {
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

/*------------------- testimonials ------------------ */

.testimonials {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	text-align: center;
	margin-bottom: 40px;
}

.testimonials-col {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #EAF2EF;
	padding: 20px 12px;
	display: flex;
	width: 30px;
	box-sizing: border-box;
	transition: 0.5s;
	margin-left: 10px;
}

/*
.testimonials-col {
	flex-basis: 31%;
	background: #D5F3FE;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
*/

.testimonials-col img {
	height: 40px;
	margin-left: 15px;
	margin-right: 10px;
	border-radius: 50%;
	position: relative;
	float: left;
}

.testimonials-col p {
	padding: 0;
	text-align: justify;
	margin-left: 10px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	
}

.testimonials-col h3 {
	margin-top: 15px;
	text-align: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
 
.testimonials-col:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

.stars {
	color: #f44336;
	margin-left: 10px;
}


@media(max-width: 700px) {
	.testimonials-col img {
	margin-left: 0px;
	margin-right: 15px;
	}
	.testimonials-col {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #D5F3FE;
	padding: 20px 12px;
	cursor: pointer;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	}
}

/* -------- Call To Action --------- */

.cta {
	margin: auto;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(sky.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 0px;
	text-align: center;
	padding: 40px 0;
}

.cta h1 {
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}

form {
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

form h3 {
	color: #555;
	font-weight: 800;
	margin-bottom: 20px;
}

form input {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;	
	font-size: 16px;
		
}

form textarea {
	border: 0;
	margin: 10px 0;
	padding: 20px;
	outline: none;
	background: #f5f5f5;	
	font-size: 16px;
	min-height: 8em;
	max-height: 8em;
	min-width: 560px;
	max-width: 560px;
	}




form button {
	padding: 15px;
	background: #ff5361;
	color: #fff;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin: auto;
	margin-top: 40px;
}

form button:hover {
	border: 0;
	box-shadow: 0 0 20px 0px rgb(255, 73, 71, 0.2);
}


/*
.btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
*/

.btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}


@media(max-width: 700px) {
	.cta h1 {
		font-size: 24px;
	}
}


/* ----------- Footer -------------- */

.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background: #D5F3FE;
}

.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 30px;
}

.footer ul li a {
	text-decoration: none;
	color: #444444;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

.footer ul li a::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #f44336;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.footer ul li:hover::after {
	width: 100%;
}

.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.fa-facebook-f, .fa-instagram, .fa-twitter, .fa-linkedin-in, .fa-youtube {
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}

.fa-heart {
	color: #f44336;
}






.quote {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 40px 12px;
	width: 40%;
	margin: auto;
	transition: 0.5s;
	height: 150px;
	margin-bottom: 0px;
	margin-top: 50px;
	
}

.quote p {
	margin-bottom: 15px;
	margin-left: 150px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
	color: #fff;
	font-size: 18px;
	text-align: justify;
}

.quote h3 {
	text-align: left;
	margin-left: 120px;
	color: #fff;
	margin-bottom: 5px;
}

.quote img {
	height: 150px;
	width: 150px;
	margin-left: 50px;
	margin-right: 30px;
	border-radius: 75%;
	position: relative;
	float: left;
}

.quote img:hover {
	box-shadow: 0 0 20px 0px rgb(255, 73, 71, 0.5);
}




.quote h3:last-of-type {
	text-align: left;
	margin-left: 120px;
	color: #f44336;
	
}

.quote:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
	.quote img {
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin-left: 120px;
	}
	.quote {
	width: 80%;
	height: 350px;
	}
	.quote p {
	margin-left: 0px;
	text-align: center;
	display: inline-block;
	margin-top: 40px;
	
	}
	.quote h3 {
	text-align: center;
	margin-left: 0px;
	}
	.quote h3:last-of-type {
	text-align: center;
	margin-left: 0px;
	color: #f44336;
	
}
	
}


.schoolicon {
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #fff;
}









